# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/project/obj/Debug/net7.0/refint/project.dll
backend/project/obj/Debug/net7.0/project.GeneratedMSBuildEditorConfig.editorconfig
backend/project/obj/Debug/net7.0/project.csproj.CoreCompileInputs.cache
backend/project/.vs/project/v17/.suo